.Editor{
  background-color: red;
  width: 100%;
  margin: 0 auto;
  align-items: center;

  /* Small Devices, Tablets */
  @media only screen and (min-width : 768px) {
    width: 75%;
    background-color: green;
  }

  /* Medium Devices, Desktops */
  @media only screen and (min-width : 992px) {
    width: 50%;
    background-color: pink;
  }


}

.header{
background: #10466F ;
width: 100%;
padding: 5px;
min-height: 35px;
color: cyan;
font-size: 30px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
opacity: 0.8;
position: relative;

}

.logout
{
background-color: cyan;
border-radius: 10px;
padding: 8px 25px;
font-size: 16px;
white-space: nowrap;
text-align: center;
float: right;
color: white;
border: black;
opacity: 0.95;
margin-right: 10px;

}

.Canvas{
margin: auto;
border: 2px solid cyan;
width: fit-content;
bottom: 50px;

}

.Buttons {
margin: auto;
width: fit-content;
display: flex;
flex-direction: row;
align-items: center;
padding: 15px 32px;
font-size: 16px;
white-space: nowrap;
text-align: center;
border: black;
color: white;
border-radius: 8px;
cursor: pointer;
}


.b1{background-color: teal; margin: 2px;}
.b2{background-color: teal; margin: 2px;}
.b3{background-color: teal; margin: 2px;}
.b4{background-color: teal; margin: 2px;}
.b5{background-color: rgb(16, 128, 81); margin: 2px;}
.b6{background-color: teal; margin: 2px;}
.b7{background-color: teal; margin: 2px;}
.b8{background-color: teal; margin: 2px;}

.Login{
  background-color: cadetblue;
  width: 200px;
  height: 200;
  position: center;
  align-self: center;
  align-items: center;
}